{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {%- if translation_domain is same as(false) -%}
                {{- label|raw -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{% block title %}Calculateur{% endblock %}

{% block title_h1 %}Calculateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body row">
                    <div class="col-2">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 14rem;" src="{{ asset('/build/undraw_Calculator_0evy.svg') }}" alt="">
                        </div>
                    </div>
                    <div class="col-10 align-self-center">
                        Un bien vous semble intéréssant ? C'est le moment de faire parler les chiffres ! Le calculateur vous permet d'avoir tous les chiffres nécéssaires pour décider de faire une <b>offre d'achat</b> ou pas.<br>
                        Remplissez tous les champs et voyez d'un coup d'oeil si c'est une bonne affaire. Nous vous conseillons de chercher une rentabilité <b>supérieure à 10%</b> et un <b>cashflow positif</b>.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                        <h4>Revenus locatifs</h4>
                        <div class="form-group row">
                            {{ form_label(form.loyer, "Loyer mensuel estimés <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez les loyers mensuels hors charge que vous estimez'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.loyer, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>Frais d'achat</h4>
                        <div class="form-group row">
                            {{ form_label(form.prix, 'Prix <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Indiquez le prix frais d&#x2018;agence inclus ou le prix auquel vous estimez pouvoir avoir pour ce bien"></i>', {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.prix, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.metreCarre, "m² <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez le nombre de mètres carrés du bien'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.metreCarre, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">m²</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.apport, "Apport <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez le montant de l&#x2018;apport que vous souhaitez faire. Il est conseillé de mettre le moins d&#x2018;apport possible pour profiter de l&#x2018;effet de levier de la banque'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.apport, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.ameublement, "Ameublement <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' data-html='true' title='Indiquez le montant des meubles (si vous faites du meublé).<br>A titre indicatif :<br>T1 entre 1000€ et 1500€<br>T2 entre 2000€ et 2500€<br>T3 entre 3000€ et 3500€'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.ameublement, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.fraisNotaire, "Frais de notaire <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Les frais de notaires représentent environ 8% du prix d&#x2018;achat. Nous calculons automatiquement le montant des frais de notaire. Vous pouvez indiquer un autre montant si besoin'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.fraisNotaire, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.fraisNotaireEstime, {'attr':{"class":'form-control-plaintext'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.travaux, "Travaux <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez le montant des travaux. Nous vous proposons une estimation des travaux en fonction du type de travaux que vous avez à réaliser'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.travaux, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.travauxAide, {'attr':{"class":'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.garantie, "Garantie banque <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Lorsque vous contractez un prêt, la banque prend une garantie, il en existe différentes sortes. Nous calculons automatiquement une garantie par rapport au prix d&#x2018;achat. Vous pouvez iniquer un autre montant si besoin'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.garantie, {'attr':{"class":'form-control'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.garantieEstimation, {'attr':{"class":'form-control-plaintext'}}) }}
                            </div>
                        </div>
                        <hr>
                        <h4>Prêt</h4>
                        <div class="form-group row">
                            {{ form_label(form.dureePret, "Durée du prêt <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez la durée du pret que vous souhaitez contracter. En général pour un investissement locatif, la banque ne dépasse pas les 20 ans'></i>", {'label_attr':{'class':'col-sm-2 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.dureePret, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">ans</span>
                                </div>
                            </div>
                            {{ form_label(form.tauxPret, "Taux bancaire <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Indiquez le taux du prêt'></i>", {'label_attr':{'class':'col-sm-2 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.tauxPret, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>Charges annuelles</h4>
                        <div class="form-group row">
                            {{ form_label(form.taxeFonciere, "Taxe foncière <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='La taxe foncière est à la charge de propriétaire. Vous devez la prendre en compte dans vos calculs. Si elle n&#x2018;est pas indiquée dans l&#x2018;annonce, demandez la auprès de l&#x2018;agence ou du vendeur'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.taxeFonciere, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.chargesCopro, "Charges de copropriété <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Si vous êtes en copropriété, indiquez le montant des charges à l&#x2018;année'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.chargesCopro, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.chargesBien, "Entretien du bien <i class='fas fa-info-circle' data-toggle='tooltip' data-html='true' data-placement='right' title='Indiquez un pourcentage des loyers qui seront utilisés pour l&#x2018;entretien du bien (petite réparation, peinture, ...). Je vous conseille <b>5%</b>'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.chargesBien, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.chargesBienTotal, {'attr':{"class":'form-control-plaintext'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.gerance, "Frais de gérance <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Si vous comptez mettre votre bien en gérance, indiquez un pourcentage des loyers, en général entre 6% ou 8%'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-4 input-group">
                                {{ form_widget(form.gerance, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(form.geranceTotal, {'attr':{"class":'form-control-plaintext'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.assurancePno, "Assurance PNO <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='L&#x2018;assurance propriétaire non occupant est obligatoire dans lorsque vous mettez en location un bien. C est une sorte d&#x2018;assurance habitation pour les bailleurs'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.assurancePno, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.comptabilite, "Comptabilité <i class='fas fa-info-circle' data-toggle='tooltip' data-placement='right' title='Si vous faites du meublé ou que vous avez plusieurs investissement ou simplement que vous ne souhaitez pas vous occuper de la comptabilité, indiquez les honoraires du comptable.'></i>", {'label_attr':{'class':'col-sm-4 col-form-label'}}) }}
                            <div class="col-sm-8 input-group">
                                {{ form_widget(form.comptabilite, {'attr':{"class":'form-control updateCharge'}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>
                        </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Résultats</h6>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6">Prix au m²</dt>
                        <dd class="col-sm-6" id="priceMeterCarre">N/A</dd>
                        
                        <dt class="col-sm-6">Rentabilité brute</dt>
                        <dd class="col-sm-6" id="rentaBrute">N/A</dd>
                        
                        <dt class="col-sm-6">Coût du projet</dt>
                        <dd class="col-sm-6" id="totalProjet">N/A</dd>
                    </dl>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-6">Annuités prêt</dt>
                        <dd class="col-sm-6" id="annuitePret">N/A</dd>
                        
                        <dt class="col-sm-6">Mensualité prêt</dt>
                        <dd class="col-sm-6" id="mensualitePret">N/A</dd>
                    </dl>
                    <hr>
                    <dl class="row">
                        
                        <dt class="col-sm-6">Recette annuelle</dt>
                        <dd class="col-sm-6" id="recetteAnnuelle">N/A</dd>
                        
                        <dt class="col-sm-6">Frais annuels</dt>
                        <dd class="col-sm-6" id="fraisAnnuels">N/A</dd>
                        
                        <dt class="col-sm-6">Frais annuels avec emprunt</dt>
                        <dd class="col-sm-6" id="fraisAnnuelsPlusEmprunt">N/A</dd>
                    </dl>
                    <hr>
                    <dl class="row">
                        
                        <dt class="col-sm-6">Cashflow annuel</dt>
                        <dd class="col-sm-6" id="cashflowAnnuel">N/A</dd>
                        
                        <dt class="col-sm-6">Cashflow mensuel</dt>
                        <dd class="col-sm-6" id="cashflowMensuel">N/A</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function () {
            
            var total = 0;
            var recetteAnnuelle = 0;
            var pretAnnuel = 0;
            
            calculatePriceMeterCarre();
            calculateRentaBrute();
            calculateFraisNotaire();
            calculateGarantie(),
            calculateTravaux();
            calculateTotal();
            calculateEmprunt();
            calculateCharge();
            
            $('#calculateur_prix, #calculateur_metreCarre').on('change', function(){
                calculatePriceMeterCarre();
            });
            
            $('#calculateur_prix, #calculateur_loyer').on('change', function(){
                calculateRentaBrute();
            });
            
            $('#calculateur_prix').on('change', function(){
                calculateFraisNotaire();
                calculateGarantie();
            });
            
            $('#calculateur_metreCarre, #calculateur_travauxAide').on('change', function(){
                calculateTravaux();
            });
            
            $('#calculateur_prix, #calculateur_apport, #calculateur_fraisNotaire, #calculateur_fraisNotaireEstime, #calculateur_travaux, #calculateur_garantie, #calculateur_garantieEstimation, #calculateur_metreCarre, #calculateur_travauxAide, #calculateur_ameublement').on('change', function(){
                calculateTotal();
            });
            
            $('#calculateur_tauxPret, #calculateur_dureePret').on('change', function(){
                calculateEmprunt();
            });
            
            $('.updateCharge').on('change', function(){
                calculateCharge();
            });
            
            function calculateCharge(){
                var taxeFonciere = parseInt($('#calculateur_taxeFonciere').val());
                var chargeCopro = parseInt($('#calculateur_chargesCopro').val());
                var entretien = parseInt($('#calculateur_loyer').val()) * 12 * (parseInt($('#calculateur_chargesBien').val()) / 100) ;
                var gerance = parseInt($('#calculateur_loyer').val()) * 12 * (parseInt($('#calculateur_gerance').val()) / 100) ;
                var pno = parseInt($('#calculateur_assurancePno').val());
                var comptabilite = parseInt($('#calculateur_comptabilite').val());
                
                var totalCharges = 0;
                if(!isNaN(taxeFonciere)){
                    totalCharges = totalCharges + taxeFonciere;
                }
                if(!isNaN(chargeCopro)){
                    totalCharges = totalCharges + chargeCopro;
                }
                if(!isNaN(entretien)){
                    $('#calculateur_chargesBienTotal').val(Math.round(entretien));
                    totalCharges = totalCharges + entretien;
                }
                else{
                    $('#calculateur_chargesBienTotal').val('');
                }
                if(!isNaN(gerance)){
                    $('#calculateur_geranceTotal').val(Math.round(gerance));
                    totalCharges = totalCharges + gerance;
                }
                else{
                    $('#calculateur_geranceTotal').val("");
                }
                if(!isNaN(pno)){
                    totalCharges = totalCharges + pno;
                }
                if(!isNaN(comptabilite)){
                    totalCharges = totalCharges + comptabilite;
                }
                
                if(totalCharges > 0){
                    $('#fraisAnnuels').text(totalCharges+" €");
                }
                else{
                    $('#fraisAnnuels').text("N/A");
                }
                
                var cashflow = 0;

                //on rajoute le pret
                totalCharges = totalCharges + pretAnnuel;
                //calcul cashflow
                cashflow = recetteAnnuelle - totalCharges;
               
                
                if(totalCharges > 0){
                    $('#fraisAnnuelsPlusEmprunt').text(totalCharges+" €");
                }
                else{
                    $('#fraisAnnuelsPlusEmprunt').text("N/A");
                }

                if(cashflow < 0){
                    var text = "<span class='badge bg-danger'>"+cashflow+" €</span>";
                }
                else if (cashflow == 0) {
                    var text = "<span class='badge bg-warning'>"+cashflow+" €</span>";
                }
                else if (cashflow > 0) {
                    var text = "<span class='badge bg-success'>"+cashflow+" €</span>";
                }

                $('#cashflowAnnuel').html(text);
                $('#cashflowMensuel').text(Math.round(cashflow / 12) + " €");
     
                
            }
            
            function calculateEmprunt(){
                
                var emprunt = total;
                var taux = parseFloat($('#calculateur_tauxPret').val())/100;
                var duree = parseInt($('#calculateur_dureePret').val());
                
                var annuel = 0;
                
                if(emprunt !== 0 && isFinite(taux) && !isNaN(taux) && taux !== 0 && isFinite(duree) && !isNaN(duree) && duree !== 0){
                    annuel = (( emprunt *( taux /12))/( 1- Math.pow((1+( taux /12)), (-duree * 12)) ))*12;
                }
                
                if(annuel !== 0 && !isNaN(annuel)){
                    pretAnnuel = Math.round(annuel);
                    $('#annuitePret').text(Math.round(annuel)+" €");
                    $('#mensualitePret').text(Math.round(annuel / 12)+" €");
                }
                else{
                    pretAnnuel = 0;
                    $('#annuitePret').text("N/A");
                    $('#mensualitePret').text("N/A");
                }
            }
           
        
            function calculatePriceMeterCarre(){
                var price = $('#calculateur_prix').val();
                var meterCarre = $('#calculateur_metreCarre').val();
                var priceMeter = price / meterCarre;
                
                if(isFinite(priceMeter) && !isNaN(priceMeter) && priceMeter !== 0){
                    $('#priceMeterCarre').text(Math.round(priceMeter)+" €");
                }
                else{
                    $('#priceMeterCarre').text("N/A");
                }
            }
            
            function calculateRentaBrute(){
                
                var price = $('#calculateur_prix').val();
                var loyer = $('#calculateur_loyer').val();
                
                var renta = loyer * 12 / price * 100;
                
                if(isFinite(renta) && !isNaN(renta) && renta !== 0){
                    
                    var round = renta.toFixed(2);
                    
                    if(round > 10){
                        var text = "<span class='badge bg-success'>"+round+" %</span>";
                    }
                    else if (round == 10) {
                        var text = "<span class='badge bg-warning'>"+round+" %</span>";
                    }
                    else if (round < 10) {
                        var text = "<span class='badge bg-danger'>"+round+" %</span>";
                    }


                    
                    $('#rentaBrute').html(text);
                }
                else{
                    $('#rentaBrute').text("N/A");
                }
                
                var recette = parseInt($('#calculateur_loyer').val()) * 12;
                if(!isNaN(recette)){
                    recetteAnnuelle = recette;
                    $('#recetteAnnuelle').text(recette+" €");
                }
                else{
                    recetteAnnuelle = 0;
                    $('#recetteAnnuelle').text("N/A");
                }
            }
            
            function calculateFraisNotaire(){
                var price = $('#calculateur_prix').val();
                
                var notaire = price * 0.0822;
                if(notaire !== 0){
                    $('#calculateur_fraisNotaireEstime').val(Math.round(notaire));
                }
                else{
                    $('#calculateur_fraisNotaireEstime').val('');
                }
            }
            
            function calculateTravaux(){
                var metreCarre = $('#calculateur_metreCarre').val();
                var typeTravaux = $('#calculateur_travauxAide').val();

                var prixTravaux = metreCarre * typeTravaux;
                $('#calculateur_travaux').val(prixTravaux);
            }
            
            function calculateGarantie(){
                var price = $('#calculateur_prix').val();
                var garantie = price * 0.02715;
                if(garantie !== 0){
                    $('#calculateur_garantieEstimation').val(Math.round(garantie));
                }
                else{
                    $('#calculateur_garantieEstimation').val('');
                }
            }
            
            function calculateTotal(){
                var price = parseInt($('#calculateur_prix').val());
                var apport = parseInt($('#calculateur_apport').val());
                var fraisNotaire = parseInt($('#calculateur_fraisNotaire').val());
                var travaux = parseInt($('#calculateur_travaux').val());
                var garantie = parseInt($('#calculateur_garantie').val());
                var ameublement = parseInt($('#calculateur_ameublement').val());
                
                if(fraisNotaire == 0 || isNaN(fraisNotaire)){
                    fraisNotaire = parseInt($('#calculateur_fraisNotaireEstime').val());
                }
                
                if(garantie == 0 || isNaN(garantie)){
                    garantie = parseInt($('#calculateur_garantieEstimation').val());
                }
                
                if(!isNaN(price)){                    
                    total = price;
                    if(!isNaN(apport)){
                        total = total - apport;
                    }
                    if(!isNaN(travaux)){
                        total = total + travaux;
                    }
                    if(!isNaN(fraisNotaire)){
                        total = total + fraisNotaire;
                    }
                    if(!isNaN(garantie)){
                        total = total + garantie;
                    }
                    if(!isNaN(ameublement)){
                        total = total + ameublement;
                    }
                    
                    calculateEmprunt();
                    
                    $('#totalProjet').text(Math.round(total)+" €");
                }
                else{
                    $('#totalProjet').text("N/A");
                }                
            }
            
        });
    </script>
{% endblock %}