{% extends 'base.html.twig' %}

{% block title %}{{city.name}}{% endblock %}
{% block title_h1 %}{{city.name}}{% endblock %}
{% block h1_complement %}{{ include('main/components/formFavoris.html.twig', {'city':city, 'style':'display:initial;'}) }}{% endblock %}

{% block body %}
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prix m²</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ city.price.priceMeter }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
                
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Population</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{% if city.population is not null %}{{ city.population.total }}{% else %}N/A{% endif %}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Emplacement</h6>
                </div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q={{ city.name }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{evoPop.indicator.title}}</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="evoPop"></canvas>
                    </div>
                    <hr>
                    Une population en hausse signifie (généralement) que la ville est attractive.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{type.indicator.title}} ({{ type.indicator.unity }})</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie">
                        <canvas id="type"></canvas>
                    </div>
                    <hr>
                    Vérifiez que le type de bien <b>corresponde à la demande</b>.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{popByAge.indicator.title}} ({{ popByAge.indicator.unity }})</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="popByAge"></canvas>
                    </div>
                    <hr>
                    En fonction de votre <b>mode d'exploitation</b> et du <b>type de bien</b> que vous souhaitez acheter, vérifier les tranches d'ages intéréssés.
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{popType.indicator.title}} ({{ popType.indicator.unity }})</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="popType"></canvas>
                    </div>
                    <hr>
                    Assurez-vous qu'il y est une majorité d'<b>actifs et d'étudiants</b> dans la ville.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('detail') }}
    <script type="text/javascript">
        
        barChart("evoPop", [{{ evoPop.tabData|keys|join(',') }}], '{{evoPop.indicator.title}}', [{% for data in evoPop.tabData %}{{data}}{% if loop.last == false %},{% endif %}{% endfor %}]);
        
        doughnutChart('type', [{% for key, data in type.tabData %}"{{ key }}"{% if loop.last == false %},{% endif %}{% endfor %}], '{{type.indicator.title}}', [{% for data in type.tabData %}{{data}}{% if loop.last == false %},{% endif %}{% endfor %}]);
        
        barChart('popByAge', [{% for key, data in popByAge.tabData %}"{{ key }}"{% if loop.last == false %},{% endif %}{% endfor %}], '{{popByAge.indicator.title}}', [{% for data in popByAge.tabData %}{{data}}{% if loop.last == false %},{% endif %}{% endfor %}]);
        barChart('popType', [{% for key, data in popType.tabData %} '{{ key }}'{% if loop.last == false %},{% endif %}{% endfor %}], '{{popType.indicator.title}}', [{% for data in popType.tabData %}{{data}}{% if loop.last == false %},{% endif %}{% endfor %}]);
    </script>
{% endblock %}