{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">

    <form method="get" class="form-inline">
        <select name="dpt_code" class="form-control">
            {% for department in departments %}
                <option value="{{department.code}}">{{department.name}} ({{department.code}})</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-success">Voir</button> 
    </form>
    
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Renta Maison</th>
                <th>Renta Appt</th>
                <th>Lien Data France</th>
            </tr>
        </thead>
        <tbody>
             {% for city in cities %}
                {% if city.price is not null %}
                    <tr>
                        <td>{{city.name}}</td>
                        <td>{{(city.price.houseRental * 12 / city.price.houseSale * 100)|round(2)}} %</td>
                        <td>{{(city.price.apartmentRental * 12 / city.price.apartmentSale * 100)|round(2)}} %</td>
                        <td><a href="{{url_datafrance~(city.slug)|replace({' ':'-'})~"-"~city.zipCode}}" target="_blank">Voir</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').DataTable();
        } );
    </script>
{% endblock %}