<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>Ville</th>
            <th>Prix m²</th>
            <th>Population</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <th>Favoris</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
         {% for city in cities %}
                <tr>
                    <td><a href="{{path("app_main_detailcity", {'city_name':(city.slug)|replace({' ':'-'}), 'insee_code':city.inseeCode})}}" target="_blank">{{city.name}} ({{city.zipCode}})</a></td>
                    {% if city.price is not null and city.price.priceMeter is not null %}
                        <td data-order="{{city.price.priceMeter}}">{{city.price.priceMeter}}</td>
                    {% else %}
                        <td data-order="0">N/A</td>
                    {% endif %}
                    {% if city.population is not null %}
                        <td data-order="{{city.population.total}}">{{city.population.total}}</td>
                    {% else %}
                        <td data-order="0">N/A</td>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td data-order="{% if city in app.user.cities %}1{% else %}0{% endif %}" >
                        {{ include('main/components/formFavoris.html.twig', {'city':city}) }}
                    </td>
                    {% endif %}
                </tr>
        {% endfor %}
    </tbody>
</table>