{% extends 'base.html.twig' %}

{% form_theme form 'bundles/jquery.collection.html.twig' %}

{% block title %}{% if search.id is null %}Ajouter une recherche{% else %}Modifier {{search.name}}{% endif %}{% endblock %}

{% block title_h1 %}{% if search.id is null %}Ajouter une recherche{% else %}Modifier {{search.name}}{% endif %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <ul id="cities-list"
                            data-prototype="{{ form_widget(form.cities.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ form.cities|length }}">
                        {% for city in form.cities %}
                            <li>{{ form_widget(city) }}</li>
                        {% endfor %}
                        </ul>
                        {{ form_widget(form.cities) }}                        
                        {{ form_rest(form) }}
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('recherche') }}
    <script type="text/javascript">
        
        $(function(){
            initAutocomplete();
            
            $collectionHolder = $('ul#cities-list');
            $collectionHolder.find('li').each(function() {
                addCityFormDeleteLink($(this));
            });
        });
        
        function addCityForm(zipCode, name){
            var list = $('#cities-list');
            var counter = list.data('widget-counter') || list.children().length;

            var newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, counter);
            
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
            addCityFormDeleteLink(newElem);
            
            $('#search_cities_'+counter+'_zipCode').val(zipCode);
            $('#search_cities_'+counter+'_name').val(name + " ("+zipCode+")");
            
            counter++;
            list.data('widget-counter', counter);

            
        }
        
        function addCityFormDeleteLink($cityFormLi) {
                var $removeFormButton = $('<button class="btn btn-danger btn-sm" type="button"><i class="far fa-times-circle"></i></button>');
                $cityFormLi.append($removeFormButton);

                $removeFormButton.on('click', function(e) {
                    $cityFormLi.remove();
                });
        }
        
        function initAutocomplete(){
            $( ".autocomplete" ).autocomplete({
                    source: function(query, response){
                        $.ajax({
                            url: '{{ path('app_utility_cities') }}?query='+query.term,
                            dataType: 'json',
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.name+" ("+item.zipCode+")",
                                        value: item.zipCode,
                                        name: item.name
                                    };
                                }));
                            }
                        })
                    },
                    minLength: 2
              });
              
              $( ".autocomplete").on( "autocompleteselect", function( event, ui ) {
                    event.preventDefault();
                    addCityForm(ui.item.value, ui.item.name);
                    $(this).val('');
              } );
        }
        
    </script>
{% endblock %}