{% extends 'base.html.twig' %}

{% form_theme form 'form/links-theme.html.twig' 'form/cities-search-theme.html.twig' 'bundles/jquery.collection.html.twig' %}

{% block title %}{% if search.id is null %}Ajouter une recherche{% else %}Modifier {{search.name}}{% endif %}{% endblock %}

{% block title_h1 %}{% if search.id is null %}Ajouter une recherche{% else %}Modifier {{search.name}}{% endif %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="form-group row">
                            {{ form_label(form.name, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr':{'class':"form-control", 'placeholder':"Ex: Appartement pour colocation à Dax"}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.priceMax, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-4">
                                {{ form_widget(form.priceMax, {'attr':{'class':"form-control", 'placeholder':"Ex: 200000"}}) }}
                            </div>
                            {{ form_label(form.surfaceMin, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-4">
                                {{ form_widget(form.surfaceMin, {'attr':{'class':"form-control", 'placeholder':"Ex: 100"}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.search, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-10">
                                {{ form_widget(form.search, {'attr':{'class':"form-control autocompleteSearchForm", 'placeholder':'Ex: Dax, Bordeaux, ...'}}) }}
                            </div>
                        </div>
{#                        <div class="form-group row">
                            {{ form_label(form.cities, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-10">
                                <ul id="cities-list"
                                    data-prototype="{{ form_widget(form.cities.vars.prototype)|e }}"
                                    data-widget-tags="{{ '<li></li>'|e }}"
                                    data-widget-counter="{{ form.cities|length }}">
                                {% for city in form.cities %}
                                    <li>{{ form_widget(city) }}</li>
                                {% endfor %}
                                </ul>
                            </div>              
                        </div>#}
                        <div class="form-group row">
                            {{ form_label(form.cities, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-10" id="cities-list" data-prototype="{{ form_row(form.cities.vars.prototype)|e }}" data-widget-counter="{{ form.cities|length }}">
                                {{ form_widget(form.cities) }}
                            </div>
                        </div>
                        <hr>
                        <h4 class="mb-4">Ajoutez vos liens de recherches</h4>
                        <div class="form-group row">
                            {{ form_label(form.links, null, {'label_attr':{'class':'col-sm-2 col-form-label'}})}}
                            <div class="col-sm-10" id="">
                                {{ form_widget(form.links) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% if search.id is not null %}
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4 border-left-danger">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Suppression</h6>
                </div>
                <div class="card-body">
                    <p>Souhaitez vous supprimer cette recherche ?</p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#suppressionModal">
                        Supprimer
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="suppressionModal" tabindex="-1" role="dialog" aria-labelledby="suppressionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="suppressionModalLabel">Suppression de {{ search.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <p>Etes-vous sûr de vouloir supprimer cette recherche ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form action="{{ path('app_search_delete', {'id':search.id}) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('recherche') }}
    <script type="text/javascript">
        
        $(function(){
            
            $('.links-collection').collection({
                allow_up: false,
                allow_down: false,
                add_at_the_end: true,
                add: '<a href="#" class="btn btn-sm btn-primary"><i class="far fa-plus-square"></i> Ajouter un lien</a>',
            });
            
            $('#search_priceMax').mask('000 000 000 000 000', {reverse: true});
            $('#search_surfaceMin').mask('000 000 000 000 000', {reverse: true});
            
            initAutocomplete();
            
            clickRemove();
        });
        
        function addCityForm(inseeCode, zipCode, name){
            var list = $('#cities-list');
            var counter = list.data('widget-counter') || list.children().length;

            var newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, counter);
            
            var newElem = list.append(newWidget);
            newElem.prependTo(list);
            clickRemove();
            
            $('#search_cities_'+counter+'_inseeCode').val(inseeCode);
            $('#search_cities_'+counter+'_name').val(name + " ("+zipCode+")");
            
            counter++;
            list.data('widget-counter', counter);
        }
        
        function clickRemove() {
                $('.collection-remove-cities').on('click', function(e) {
                    e.preventDefault();
                    console.log('sss');
                    $(this).closest('.form-group.row').remove();
                });
        }
        
        function initAutocomplete(){
            $( ".autocompleteSearchForm" ).autocomplete({
                source: function(query, response){
                    $.ajax({
                        url: '{{ path('app_utility_cities') }}?query='+query.term,
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name+" ("+item.zipCode+")",
                                    value: item.inseeCode,
                                    name: item.name,
                                    zipCode: item.zipCode,
                                };
                            }));
                        }
                    })
                },
                minLength: 2
            });
              
            $( ".autocompleteSearchForm").on( "autocompleteselect", function( event, ui ) {
                event.preventDefault();
                addCityForm(ui.item.value, ui.item.zipCode, ui.item.name);
                $(this).val('');
            } );
        }
        
    </script>
{% endblock %}