{% extends 'base.html.twig' %}

{% block title %}Mes recherches{% endblock %}

{% block title_h1 %}Mes recherches{% endblock %}

{% block h1_complement %}
    <a {% if is_granted('IS_AUTHENTICATED_FULLY') %}href="{{path('app_search_edit')}}"{% else %}href="#" data-toggle="modal" data-target="#requireLoginModal"{% endif %} class="btn btn-sm btn-primary"><i class="far fa-plus-square"></i> Ajouter une recherche</a>
{% endblock %}

{% block body %}
    <div class="row">
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.strategy is not null %}
            <div class="col-lg-12">
            <div class="card shadow mb-4 border-left-primary">
                <div class="card-body">
                        <p class="mb-0">Rappel : {{ app.user.strategy|text(false)|raw }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Créez vos recherches</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 18rem;" src="{{ asset('build/images/undraw_house_searching_n8mp.svg') }}" alt="">
                    </div>
                    Maintenant que vous avez choisi une ou plusieurs villes, vous pouvez <b>créer vos recherches ici</b>. Indiquez une <b>surface minimum</b> et un <b>prix maximum</b> pour votre recherche ainsi que <b>la ou les villes</b> dans lesquelles vous effectuez votre recherche. Nous générons <b>automatiquement</b> les liens de vos recherches sur LeBonCoin, SeLoger et ParuVendu.<br>
                    Vous avez la possibilité d'<b>ajouter vos liens</b> afin de tout avoir dans <b>un seul et même endroit</b>.<br>
                    <p class="mt-1">Une annonce vous intéresse ? <a href="{{ path('app_main_calculateur')}}">Utiliser le calculateur</a> pour être sûr de faire le bon choix.</p>
                </div>
            </div>
        </div>
        {% for search in searches %}
            <div class="col-lg-4">
                    {{ include('search/components/searchCard.html.twig', {'search':search}) }}
              </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        
        $('#openLinkDefault').click(function(e){
            e.preventDefault();
            $('.linkDefault').each(function(){
                var url = $(this).attr('href');
                window.open(url);
            });
        });
        
        $('#selectLinkSearch').change(function(){
            var url = $(this).val();
            if(url == 'all'){
                $(this).children("option").each(function(){
                    var url = $(this).val();
                    if(url != 'all' && url != ''){
                        window.open(url);
                    }
                });
            }
            else{
                window.open(url);
            }
            
        });
    </script>
{% endblock %}