{% extends 'base.html.twig' %}

{% block title %}Mes recherches{% endblock %}

{% block title_h1 %}Mes recherches{% endblock %}

{% block h1_complement %}
    <a href="{{path('app_search_edit')}}" class="btn btn-primary"><i class="far fa-plus-square"></i> Ajouter une recherche</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recherche</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prix max.</th>
                                <th>SurfaceMin</th>
                                <th>Villes</th>
                                <th>Editer</th>
                                <th>LeBonCoin</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for search in searches %}
                                    <tr>
                                        <td>{{ search.name }}</td>
                                        <td>{{ search.priceMax }}</td>
                                        <td>{{ search.surfaceMin }}</td>
                                        <td>{{ search.cities|length }}</td>
                                        <td><a href="{{ path('app_search_edit_1', {'id':search.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a></td>
                                        <td><a href="https://www.leboncoin.fr/recherche/?category=9&locations={% for city in search.cities %}{{ city.name }}_{{ city.zipCode }}{% if loop.last == false %},{% endif %}{% endfor %}&real_estate_type=1,2,4,5&price=min-{{search.priceMax}}&square={{search.surfaceMin}}-max" target="_blank">Voir</a></td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
       
        
    </script>
{% endblock %}