{% extends 'base.html.twig' %}


{% block title %}Voir les annonces{% endblock %}

{% block title_h1 %}Annonces {{search.name}}{% endblock %}

{% block h1_complement %}
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    {% if search.links[index-1] is defined %}
        <a href="{{ path('app_search_lien', {'id':search.id, 'index':index-1})}}" class="btn btn-primary"><i class="fas fa-angle-left"></i> Précédent</a>
    {% endif %}
    {% if search.links[index+1] is defined %}
        <a href="{{ path('app_search_lien', {'id':search.id, 'index':index+1})}}" class="btn btn-primary">Suivant <i class="fas fa-angle-right"></i></a>
    {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Voir les dernières annonces <small>(<a href='{{ search.links[index] }}' target="_blank">{{ search.links[index] }}</a>)</small></h6>
                    <a href="{{ path('app_search_edit_1', {'id':search.id}) }}" class="btn btn-sm btn-primary float-right"><i class="far fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ url }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function(){
            
          
        });
    </script>
{% endblock %}