<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ search.name }}</h6>
        <a {% if is_granted('IS_AUTHENTICATED_FULLY') %}href="{{ path('app_search_edit_1', {'id':search.id}) }}"{% else %}href="#" data-toggle="modal" data-target="#requireLoginModal"{% endif %} class="btn btn-sm btn-primary float-right"><i class="far fa-edit"></i></a>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Prix max</dt>
            <dd class="col-sm-9">{{ search.priceMax }} €</dd>

            <dt class="col-sm-3">Surface min.</dt>
            <dd class="col-sm-9">{{ search.surfaceMin }} m²</dd>

            <dt class="col-sm-3">Villes</dt>
            <dd class="col-sm-9">
                {% for city in search.cities %}
                    {{ city.name }}<br>
                {% endfor%}
            </dd>
        </dl>
        <hr>
        <a class="btn btn-sm linkDefault mb-2" style="background-color: #f56b2a; color: white" href="https://www.leboncoin.fr/recherche/?category=9&locations={% for city in search.cities %}{{ city.name }}_{{ city.zipCode }}{% if loop.last == false %},{% endif %}{% endfor %}&real_estate_type=1,2,4,5&price=min-{{search.priceMax}}&square={{search.surfaceMin}}-max" target="_blank">LeBonCoin</a>
        <a class="btn btn-sm linkDefault mb-2" style="background-color: #e00034; color: white" href="https://www.seloger.com/list.htm?projects=2&types=1,2,3,9,13,12,11,10&natures=1,2,4&places=[{% for city in search.cities %}{{ "{ci:"~city.inseeCode|slice(0,2) }}0{{ city.inseeCode|slice(-3)~"}" }}{% if loop.last == false %}|{% endif %}{% endfor %}]&price=NaN/{{ search.priceMax }}&surface={{ search.surfaceMin }}/NaN&sort=d_dt_crea&enterprise=0&qsVersion=1.0" target="_blank">SeLoger</a>
        <a class="btn btn-sm linkDefault mb-2" style="background-color: #000; color: white" href="https://www.paruvendu.fr/immobilier/annonceimmofo/liste/listeAnnonces?nbp=0&tt=1&tbApp=1&tbDup=1&tbChb=1&tbLof=1&tbAtl=1&tbPla=1&tbMai=1&tbVil=1&tbCha=1&tbPro=1&tbHot=1&tbMou=1&tbFer=1&tbImm=1&tbPar=1&at=1&nbp0=99&sur0={{ search.surfaceMin }}&px1={{ search.priceMax }}&pa=FR&ddlFiltres=nofilter&codeINSEE={% for city in search.cities %}{{ city.inseeCode }}{% if loop.last == false %},{% endif %}{% endfor %}" target="_blank">ParuVendu</a>
        <a class="btn btn-sm btn-default mb-2" id="openLinkDefault" href="#">Tout ouvrir</a>
        {% if search.links|length > 0 %}
        <hr>
        <form>
            <div class="form-group">
                <label>Vos liens</label>
                <select class="form-control" id='selectLinkSearch'>
                    <option value="">SELECTIONNER</option>
                    {#<option value='all'>Tout ouvrir</option>#}
                    {% for link in search.links %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <option value="{{ path('app_search_lien', {'id':search.id, 'index':loop.index0}) }}">{{ link }}</option>
                        {% else %}
                            <option value="{{ link }}">{{ link }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </form>
        {% endif %}
    </div>
</div>