<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="{{ absolute_url(asset('build/images/undraw_house_searching_n8mp.png')) }}">
        <meta property="og:title" content="Application immobilière linvestissement.net">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Linvestissement.net{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% if app.environment != 'dev' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158618403-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-158618403-1');
            </script>
            <script type='text/javascript'>
                window.smartlook||(function(d) {
                  var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
                  var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
                  c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
                  })(document);
                smartlook('init', '7ce7bc3a9c377fa21d749ecf898aabaf4ecdf457');
            </script>
            <!-- Facebook Pixel Code -->
            <script>
                !function(f,b,e,v,n,t,s)
                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '2534660173421343');
                fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
                src="https://www.facebook.com/tr?id=2534660173421343&ev=PageView&noscript=1"
            /></noscript>
            <!-- End Facebook Pixel Code -->
        {% endif %}

    </head>

    <body id="page-top">
        
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{type}} position-absolute mt-5" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{path('main') }}">
            <div class="sidebar-brand-icon">
              <i class="far fa-building"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Linvestissement.net</div>
          </a>

          <!-- Divider -->
{#          <hr class="sidebar-divider my-0">#}

          <!-- Nav Item - Dashboard -->
{#          <li class="nav-item active">
            <a class="nav-link" href="index.html">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
          </li>#}
          
          <hr class="sidebar-divider">

          <div class="sidebar-heading">
            Stratégie
          </div>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_main_strategie') }}">
              <i class="fas fa-chess-pawn"></i>
              <span>Ma stratégie</span>
            </a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Recherche
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('main') }}">
              <i class="fas fa-search-location"></i>
              <span>Recherche de ville</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link collapsed" {% if is_granted('IS_AUTHENTICATED_FULLY') %}href="{{ path('app_main_favoris') }}"{% else %}href="" data-toggle="modal" data-target="#requireLoginModal"{% endif %}>
              <i class="fas fa-star"></i>
              <span>Mes favoris</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_search_index') }}">
              <i class="fas fa-list-ol"></i>
              <span>Mes recherches</span>
            </a>
          </li>
          
          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Outils
          </div>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_main_calculateur') }}">
              <i class="fas fa-calculator"></i>
              <span>Calculateur</span>
            </a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              
              <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small autocomplete" placeholder="Rechercher une ville..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                      </a>
                      <!-- Dropdown - Messages -->
                      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                          <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small autocomplete" placeholder="Rechercher une ville..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                
                    
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.email }}</span>
                    {#<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">#}
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    {#<a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profil
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Paramètres
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activité
                    </a>
                    <div class="dropdown-divider"></div>#}
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Déconnexion
                    </a>
                  </div>
                </li>
                {% else %}
                    <li class="nav-item dropdown no-arrow">
                        <a href="{{path('fos_user_registration_register')}}" class="btn btn-sm btn-default">S'enregistrer</a>
                         ou 
                        <a href="{{path('fos_user_security_login')}}" class="btn btn-sm btn-primary">Se connecter</a>
                    </li>
                {% endif %}

              </ul>

            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-2">
                    <h1 class="h3 mb-4 text-gray-800">{% block title_h1 %}{% endblock %}</h1>
                    {% block h1_complement %}{% endblock %}
                </div>
                {% block body %}{% endblock %}

            </div>

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                  <span>Copyright &copy; <a href="https://linvestissement.net" target="_blank">Linvestissement.net</a> {{ date('now')|date('Y') }}</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Cliquer sur "Déconnexion" si vous êtes sûr de vouloir partir.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
              <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </div>
          </div>
        </div>
      </div>

      {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript">
                $(".autocomplete" ).autocomplete({
                    source: function(query, response){
                        $.ajax({
                            url: '{{ path('app_utility_cities') }}?query='+query.term,
                            dataType: 'json',
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.name+" ("+item.zipCode+")",
                                        value: item.url,
                                    };
                                }));
                            }
                        })
                    },
                    minLength: 2
              });

              $( ".autocomplete").on( "autocompleteselect", function( event, ui ) {
                    event.preventDefault();
                    window.location.href = ui.item.value;
              } );
            </script>
        {% endblock %}
        
        <div class="modal fade" id="requireLoginModal" tabindex="-1" role="dialog" aria-labelledby="requireLoginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requireLoginModalLabel">Connexion requise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Si vous souhaitez accéder à cette fonctionnalité, merci de vous connecter ou vous créer un compte
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <a href="{{path('fos_user_registration_register')}}" class="btn btn-default">Je m'enregistre</a>
                        <a href="{{path('fos_user_security_login')}}" class="btn btn-primary">Je me connecte</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>